


//$blue: #0984e3;
$indigo: #7564f0;
$purple: #9c3ef4;
$pink: #e95a9f;
$red: #c43d3d;
$orange: #f9c970;
$yellow: #d3a920;
//$green: #147a66;
$teal: #189b74;
$cyan: #57cebe;



$input-focus-box-shadow : none;
// MORE SCSS

.modal-header {
  background: var(--primary);
  border-bottom: none !important;
}

